<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        
        <title> Welcome </title>
        

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        
        <link href="/css/style.css" type="text/css" rel="stylesheet">
       
    </head>
   
    <body>
        
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>
       

        
        <div class="row no-gutters">
        
        <div class="col-md-6 no-gutters ">
            
            <div class="leftside d-flex justify-content-center align-items-center">
            
            <div class ="backgroundimg" style = "height:100%; width:100%; background-image:url(/images/neil.jpg")> <br>
                
				

			 </div>
            
            </div>
            
          
            </div>
            
            <div class="col-md-6 no-gutters">
            
            <div class="rightside d-flex justify-content-center align-items-center">
                
			<div  class="heading01"> 

				<h1 class="heading001">NEIL DEGRASS TYSON </h1>  <br> 

        <h1 class="title043"><span id="changingword">Astrophysicist</span></h1>


      <script>
      
          (function(){
      var words = [
          'Author',
          'Science Communicator',
          'Cosmologist',
          'Researcher',
          ], i = 0;
      setInterval(function(){
          $('#changingword').fadeOut(function(){
              $(this).html(words[i=(i+1)%words.length]).fadeIn();
          });
      }, 1500);        
  })();   
      </script> <br> 

    <a href="http://localhost:3006/secondpage"><button class="button">

    <span>View More </span>

    </button></a>

                
                </div>            
            
            </div>
            
            
            </div>
        </div>
           
           
    </body>
</html>