            <!DOCTYPE html>
            <html lang="en" dir="ltr">
                <head>
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">

                    <meta charset="utf-8">

                    <meta http-equip="X-UA-Compatible"content="ie-edge">

                    <title> Page 2</title>
                    
                     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
                    
                    <link href="/css/style.css" type="text/css" rel="stylesheet">


                     <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>

                    <link href="https://fonts.googleapis.com/css?family=Inconsolata:700&display=swap" rel="stylesheet">
                   
                    </head>
             
               
                    <body class="secondpage">
                    

                    <header class="v-header">

                    <div class="fullscreen-video-wrap">

                        

                    <video class="video" id="myVideo" muted="muted" loop="loop" autoplay="autoplay"> <source src="/images/video1.mp4" type="video/mp4"> Your browser does not support HTML5 video. </video> 

                       </div> 

                    <div class="heading-overlay"> </div>

                    <div class="header-content">

                    <div class="Container01"> 

                    <h1 class="text02"> Neil deGrasse Tyson </h1> <br> <br> 

                        <p class="para02"> Neil deGrasse Tyson (/dəˈɡræs/; born October 5, 1958) is an American astrophysicist, author, and science communicator. Since 1996, he has been the Frederick P. Rose Director of the Hayden Planetarium at the Rose Center for Earth and Space in New York City. The center is part of the American Museum of Natural History, where Tyson founded the Department of Astrophysics in 1997 and has been a research associate in the department since 2003. </p> 
                        </div> 

                    <a class="ct-btn-scroll ct-js-btn-scroll" href="#section1"><img alt="Arrow Down Icon" src="https://www.solodev.com/assets/anchor/arrow-down.png"></a>
                 
                    </div>
                    </header>
                
                    
                    
                    <section id="section1">

                    <div class="container">

                    <h1 class="text03"> Books by Neil deGrasse Tyson</h1> <br> <br> 

                   <div class="quote">

                    <div class = "row">
                        <div class = "col-sm-4">
                            <div class="box box1">

                            <h2 class="text04"> Astrophysics for People in a Hurry</h2>

                            <p>Astrophysics for People in a Hurry is a 2017 popular science book by Neil deGrasse Tyson, centering around a number of basic questions about the universe.</p>
                        </div>
                            
                        <div class="bg"></div>
                        </div>
                        <div class = "col-sm-4">
                        <div class="box box2">

                        <h2 class="text04"> Accessory to War</h2>

                             <p>Accessory to War: The Unspoken Alliance Between Astrophysics and the Military is the fifteenth book by American astrophysicist and science communicator Neil deGrasse Tyson which he co-wrote with researcher and writer Avis Lang. It was released on September 11, 2018 by W. W. Norton & Company. </p>
                            
                        </div>
                         <div class="bg"></div>
                        </div>
                        <div class = "col-sm-4">
                        <div class="box box3">

                            
                        <h2 class="text04"> Space Chronicles: Facing the Ultimate Frontier</h2>

                             <p>Space Chronicles: Facing the Ultimate Frontier is the 2012 anthology by Neil deGrasse Tyson covering his various writings relating to the history and future of NASA and space travel in general.</p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

                    </section>


            <h1 class="text03"> A Day in The Life of Tyson</h1> <br> <br> 

            <div class="container03">
                        
                  <p  style="color: black ;">His interest in astronomy began at the age of nine after visiting the sky theater of the Hayden Planetarium. He recalled that "so strong was that imprint [of the night sky] that I'm certain that I had no choice in the matter, that in fact, the universe called me." During high school, Tyson attended astronomy courses offered by the Hayden Planetarium, which he called "the most formative period" of his life.</p> <br>

                  <p  style="color: black ;">Tyson obsessively studied astronomy in his teen years, and eventually even gained some fame in the astronomy community by giving lectures on the subject at the age of fifteen. In addition, Tyson's research has focused on observations in cosmology, stellar evolution, galactic astronomy, bulges, and stellar formation. <br><br><br>

                  In 2014, Tyson helped revive Carl Sagan's Cosmos: A Personal Voyage television series, presenting Cosmos: A Spacetime Odyssey on both FOX and the National Geographic Channel.</p>  <div class="spacer"></div>

                        
                    </div>
                
                    <div class = "row one">
                        <div class = "col-sm-6">
                        <h1 class = "text right" style="color:#798C83; opacity: 1;text-align: right;">"The good thing about science is that it's true whether or not you believe in it."<br>
                        <span class = "caption">- Neil deGrasse Tyson</span></h1>

                        </div>
                        
                        <div class = "col-sm-6">

                            <img class="image02" height="250px" width="450px" src="images/cosmos.jpg"> 
                           
                            </div> 
                            <div class="spacer"></div> <div class="spacer"></div><div class="spacer"></div></div><div class="spacer"></div><div class="spacer"></div>

                  <section class="section section-b">

                <h1 class="text03"> More about Neil deGrasse</h1> <div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>

                <div class="timeline">
                    
              <div class="contained alignLeft">
                <div class="content">
                  <h2 class="headingText">2018</h2>
                  <p class="bodyText">Tyson is co-developing a sandbox video game with Whatnot Entertainment, Neil deGrasse Tyson Presents: Space Odyssey, which aims to help provide players with a realistic simulation of developing a space-faring culture, incorporating educational materials about space and technology. The game is anticipated for release in 2018.</p>
                </div>
              </div>
              <div class="contained alignRight">
                <div class="content">
                  <h2 class="headingText">2015</h2>
                  <p class="bodyText">Tyson began hosting a late-night talk show entitled StarTalk on the National Geographic Channel, where Tyson interviews pop culture celebrities and asks them about their life experiences with science.</p>
                </div>
              </div>
              <div class="contained alignLeft">
                <div class="content">
                  <h2 class="headingText">2014</h2>
                  <p class="bodyText">Tyson helped revive Carl Sagan's Cosmos: A Personal Voyage television series, presenting Cosmos: A Spacetime Odyssey on both FOX and the National Geographic Channel.</p>
                </div>
              </div>
              <div class="contained alignRight">
                <div class="content">
                  <h2 class="headingText">2009</h2>
                  <p class="bodyText">Tyson launched a one-hour radio talk show called StarTalk.  A podcast on space, science, and popular culture hosted by astrophysicist Neil deGrasse Tyson, with various comic and celebrity co-hosts and frequent guests from the worlds of science and entertainment.</p>
                </div>
              </div>
              <div class="contained alignLeft">
                <div class="content">
                  <h2 class="headingText">2002</h2>
                  <p class="bodyText">Tyson popularized the term "Manhattanhenge" to describe the two days annually on which the evening sun aligns with the street grid in Manhattan, making the sunset visible along unobstructed side streets.</p>
                </div>
              </div>
              <div class="contained alignRight">
                <div class="content">
                  <h2 class="headingText">2001</h2>
                  <p class="bodyText">U.S. President George W. Bush appointed Tyson to serve on the Commission on the Future of the United States Aerospace Industry Soon afterward, he was awarded the NASA Distinguished Public Service Medal, the highest civilian honor bestowed by NASA.</p>
                </div>
              </div>
            </div>
     
              </section>
              <div class="spacer"></div><div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>


              <section class="section section-c">
                       
              <h1 class="text03"> Gallery </h1> <div class="spacer"></div><div class="spacer">


              <div class="containa">

            <div class="row"> 
              <div class="column">
                <img src="/images/1.jpg" style="width:100%">
                <img src="/images/2.jpg" style="width:100%">
                <img src="/images/8.jpg" style="width:100%">


              </div>
              <div class="column">
                <img src="/images/4.jpg" style="width:100%">
                <img src="/images/5.jpg" style="width:100%">
                <img src="/images/7.jpg" style="width:100%">


              </div>  


              <div class="column">
                <img src="/images/6.jpg" style="width:100%">
                <img src="/images/3.jpg" style="width:100%">
                <img src="/images/9.jpg" style="width:100%">


              </div> 


            <div class="column">
                <img src="/images/10.jpg" style="width:100%">
                <img src="/images/11.jpg" style="width:100%">


              </div>  
            </div></div>

            <div class="spacer"></div> <div class="spacer"></div><div class="spacer"></div><div class="spacer"><div class="spacer"></div><div class="spacer"></div><div class="spacer"></div>


            </div>

             <h1 class="text03"> The Journey Continues </h1> <div class="spacer"></div><div class="spacer">


             <div class="content">
            <h2 class="headingText" style="text-align: center;">...</h2>
                  <p class="bodyText">Neil deGrasse Tyson continues to make many scientifical discoveries and is continuing to work towards writing more books and hosting more shows. Tyson enjoying dwelling in the realm of the sciences and continues to excel at it.</p><br>

                  <p class="bodyText">Tyson continues to meet people in the science industry and collaborate with them.</p><br>


                <div class="spacer"></div>   </div>  </div>  </div>
  </section>

                      <script>


                         $(function () {
            $('a[href*="#"]:not([href="#"])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html, body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
                      </script>
                       
                </body>
            </html>